* {
	font-family: calibri;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 50px;
}

.info > img {
	max-width: 500px;
}

.info > div {
	width: 20%;
}

.info > div > p {
	color: rgb(156, 155, 155);
}

.about > h1 {
	color: rgb(8, 18, 48);
}

.skills, .education, .projects {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.education {
	margin-top: 50px;
}

.skills > table {
	width: 25%;
	margin-top: 20px;
}

#certificate {
	max-width: 500px;
}

.carousel-item > img {
	height: 400px;
}

.card-wrapper:nth-child(odd) {
	background-color: rgb(112, 112, 112);
}

#aboutDarina, #skillsDarina, #educationDarina, #projectsDarina, #aboutDima, #skillsDima, #educationDima, #projectsDima, #aboutIgor, #skillsIgor, #educationIgor, #projectsIgor {
	padding-top: 100px;
}

@media screen and (max-width: 960px) {
	.info > img {
		width: 300px;
	}
	.about > h1 {
		font-size: 1.5rem;
	}
	.info > div > p {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 690px) {
	.info {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.info > div {
		width: 100%;
	}
	.info > div > p {
		font-size: 1.2rem;
	}
	.info > img {
		width: 200px;
	}
	.skills > table {
		width: 90%;
	}
	.carousel-item > img {
		height: 200px;
	}
	#certificate {
		width: 200px;
	}
}